// Import Bootstrap Functions
@import "../node_modules/bootstrap/scss/_functions.scss";

// Custom Variables
$primary: #ec5242;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$dark: #272a31;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Custom classes

// Custom classes for navbar

@media screen and (min-width: 768px) {
  nav div > a {
    flex-direction: row;
  }
}

// #hero background image

#hero {
  .background {
    background-image: url("../images/Background.png");
    filter: grayscale(20%) opacity(0.15) blur(2px);
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  p:nth-child(3) {
    backdrop-filter: blur(5px);
    max-width: 500px;
  }
}

// Custom Classes for the Programmation Section

#program {
  background-image: url("../images/black-background");
}

div.program-card {
  background-color: rgba(121, 121, 121, 0.15);
  backdrop-filter: blur(6px);
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0.5em 1em;
  p {
    margin-left: auto;
  }
  h2 {
    min-width: 150px;
  }
}

i {
  font-size: 2em;
}

#program button {
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  div.program-card {
    max-width: 200px;
    margin-top: 16px;
  }
}

// Custom Classes for the Featured Speakers section

@media screen and (min-width: 768px) {
  #speakers {
    .speaker-card-wrapper {
      display: flex;
      column-gap: 1.5em;
      flex-direction: row;
      flex-wrap: wrap;
    }
    p {
      max-width: 330px;
    }
  }
}

#speakers img {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

// Custom Classes for the Partners section

#partners {
  li img {
    width: 2em;
  }
  li:nth-child(3) {
    font-weight: 900;
  }
}
